* img {
    height: 200px;
    width: 200px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #445E93;
}

.col {
    background-color: #EB5E28;
    padding: 20px 50px 20px 50px;
    margin: 10px;
}
